.App {
  margin-top: 5px;
  text-align: center;
}

.Cell {
  width: 20px;
  height: 20px;
}

.Black {
  background-color: black;
}

.White {
  background-color: white;
}

label {
  margin-right: 5px;
}

input {
  vertical-align: bottom;
}

select, input {
  margin-right: 20px;
}

table {
  margin-top: 10px;
}

table, td { 
  border: 1px solid blue;
}